body {
    margin: 0  !important;;
    padding: 0  !important;
    box-sizing: border-box  !important;
    font-family: "Poppins", sans-serif  !important;
    font-weight: 400  !important;
    background-image: repeating-linear-gradient(0deg, rgb(0,0,0) 0px, rgb(0,0,0) 1px,transparent 1px, transparent 51px),repeating-linear-gradient(90deg, rgb(0,0,0) 0px, rgb(0,0,0) 1px,transparent 1px, transparent 51px),linear-gradient(90deg, rgb(6,6,9),rgb(6,6,9)) !important;
     overflow-x: hidden; 
  }  
  .use-scale .scaled-container {
    transform: scale(1.8);
    transform-origin: top;
    width: 100%;
  }
header{
    background: linear-gradient(115deg, rgb(211, 255, 215) 0%, rgb(0, 0, 0) 100%), radial-gradient(90% 100% at 50% 0%, rgb(200, 200, 200) 0%, rgb(22, 0, 45) 100%), radial-gradient(100% 100% at 80% 0%, rgb(250, 255, 0) 0%, rgb(36, 0, 0) 100%), radial-gradient(150% 210% at 100% 0%, rgb(112, 255, 0) 0%, rgb(20, 175, 125) 0%, rgb(0, 10, 255) 100%), radial-gradient(100% 100% at 100% 30%, rgb(255, 77, 0) 0%, rgba(0, 200, 255, 1) 100%), linear-gradient(60deg, rgb(255, 0, 0) 0%, rgb(120, 86, 255) 100%);
    background-blend-mode: overlay, overlay, difference, difference, difference, normal;  
    
}
.cero-mg{
    margin: 0;
}
.navbar-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.container-header{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 12px;
    max-height: 40px;
}

.content-navegation{
  width: 60em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #17171788;
    backdrop-filter: blur(2px);
    border-radius: 0px 0px 16px 16px;
}
nav{
  padding: 10px 20px;
}
.logo {
  display: flex;
  color: white;
    width: 33px;
}
.img-logo{
 width: 100%;
}
.nav-links{
    padding: 0 15px 0 0;
    display: flex;
    gap: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
}
.languageSwitcher{
  background: none;
    color: white;
    border: none;
    outline: none; 
    border-bottom: 2px solid #8db1ff;
    cursor: grab;
   
}
.toggle-bottom{
    display: none;
}
.content-navegation a{
    color: white;
    text-decoration: none;
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    font-size: clamp(5px, 5vw, 12px);
}
  .content-navegation a:hover {
    color: #bad8fe;
    font-size: 13px;
    font-weight: 600;
  }
  
.burger {
    position: relative;
    width: 20px;
    height: 16px;
    background: transparent;
    cursor: pointer;
    display: block;
  }
  
  .burger input {
    display: none;
  }
  
  .burger span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: rgb(255, 255, 255);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  
  .burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
  }
  
  .burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 1px;
    left: 5px;
  }
  
  .burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
  }
  
  .burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 15px;
    left: 5px;
  }
/*Dropdown*/

.dropdown {
  position: absolute !important;
  right: 1rem;
  top: 100%;
  background-color: #00000070;
  backdrop-filter: blur(2px);
  border-radius: 10px;
  width: 200px;
  list-style: none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transform: translateY(-10px);
  transition:
    all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  pointer-events: none;
}

.dropdown.show {
  max-height: 500px !important;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  z-index: 2;
}

.dropdown li {
  display: flex;
  width: 100%;
  justify-content: center;
}

.dropdown li:hover {
  background-color: #21158e70;
}

.dropdown li a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  text-align: center;
  padding: 13px 0.7rem;
  width: 100%;
  height: 100%;
}
/*fin de dropdown*/
  .presentation {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 61px;
    position: relative;
  }
  .presentation .cardd{
    display: flex; 
     align-items: center;
     max-width: 768px;
    padding-top: 20px;
     justify-content: center;
    gap: 20px;
    margin-bottom: 70px;

  }
  .presentation::after {
    content: "";
    position: absolute;
    bottom: -1px;
    border-radius: 10px;
    width: 80%;
    max-width: 40em;
    border-bottom: 2px solid white;
    box-shadow: 0 0 8px white, 0 0 16px white; /* efecto neón */
}
  .img-conten {
    width: 16vw;
    height: 16vw;
    max-width: 155px;
    max-height: 155px;
    background-color: #3498db; 
  
    border-radius: 50%;   
  }
  .profile_img{
    width: 100%;
    height: 100%;  
    border: 3px solid rgb(0, 0, 0);
    object-fit: cover;
    transform: scale(1.2);
    object-position: center 66%;
    border-radius: 50%;
  }
  .card-inf{
    width: 55%;
  }
  .card-inf h2{
    font-family: "Special Gothic Expanded One", sans-serif;
    font-size: clamp(1rem, 8vw, 2rem);
   font-weight: 400;
  }
  #description{
    font-size: 12px;
  }
  .tags{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    font-size: clamp(5px, 8vw, 8px);
  }
  
  .tags span{
    background-color: #8ec9f1a6;
    padding: 3px 10px;
    border-radius: 14px;
    margin-top: 5px;
    border: 1px solid #8ec9f1;
    box-shadow: 0 0 0px #8ec9f1, 0 0 0px #8ec9f1, 0 0 6px #8ec9f1;
    transition: box-shadow 0.3s ease;
  }
  .tags span p, .tagsInfo span {
    font-size: clamp(3px, 4vw, 8px);
  }
  .tagsInfo{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: flex-start;
    align-items: center;
  }

  @keyframes sombraParpadeante {
    0% { box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); }
    50% { box-shadow: 0 0 0px #8ec9f1, 0 0 0px #8ec9f1, 0 0 8px #8ec9f1; }
    100% { box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); }
  }
  

  .tagsInfo span{
    display: flex;
    align-items: center;
    background: #296690a6;
    color: #cde3f1;
    padding: 4px 8px;
    border-radius: 14px;
    border: 1px solid #afdbf9;
   
    transition: box-shadow 0.3s ease;
    animation: sombraParpadeante 2s ease-in-out infinite;
    transition: all 0.3s ease;
    &:hover{
      transform: scale(1.1);
      background-color: #923e0e;
      color: #ffdabb;
      border: 1px solid #f9deaf;
      animation: none;
   
    }
  }
  .tagsInfo span i{
    font-size: 12px;
  }
  .tagsInfo a{
    color: #afdbf9;
    text-shadow: 0 0 0px #8ec9f1;
    text-decoration: none;
    background: #296690a6;
    color: #cde3f1;
    padding: 2px 6px;
    border-radius: 14px;
    border: 1px solid #afdbf9;
    font-size: 10px;
    animation: sombraParpadeante 2s ease-in-out infinite;
    transition: all 0.3s ease;
    &:hover{
      transform: scale(1.2);
      background-color: #923e0e;
      color: #ffdabb;
      border: 1px solid #f9deaf;
      animation: none;
   
    }
  }
  
  /*cuerpo del folder*/

  .content-main{
    margin-top: 15px;
    display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

  }

  .subtittle{
    color: white;
    font-size: 16px;
    margin-bottom: 14px;
    padding: 10px;
    padding: 15px 10px 10px 21px;

  }
  .tecnologis-list {
    display: flex;
    gap: 10px;
    padding: 0;
    color: white;
    list-style: none;
    flex-wrap: wrap;
  }
  .tecnologis-list li{
    display: flex;
    align-items: center;
    padding: 5px 8px;
    border-radius: 6px;
    font-size:clamp(3px, 4vw, 10px);
    transition: all 0.3s ease;
  }
  .tecnologis-list li:hover{
    box-shadow: none;
    transform: scale(1.05);
  }
  .tecnologis-list li i{
    margin-right: 5px;
    
    text-shadow: 1px 1px 2px rgb(0 0 0 / 49%);
  }
  .proyect-tecnologis-list{
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    gap: 10px;
    padding: 0;
    list-style: none;
  }
  .proyect-tecnologis-list li{
    padding: 2px 4px;
    border-radius: 4px;
  }
  /*icons color*/

  .html-li{background: #913107cf;border: 1px solid #c24405;
    /*box-shadow: 1px 0px 20px 0px #812700b8;*/}
  .js-li {
    background: #f0db4f4f;
    border: 1px solid #f0db4f;
   /* box-shadow: 1px 0px 20px 0px rgba(240, 219, 79, 0.7);*/
 
  }
  
  .react-li {
    background: #61dafb38;
    border: 1px solid #61dafb;
   /* box-shadow: 1px 0px 20px 0px #61dafb82;*/
  }
  
  .angular-li {
    background: #dd003136;
    border: 1px solid #dd0031;
   /* box-shadow: 1px 0px 20px 0px #dd003185;*/
  }
  
  .node-li {
    background: #68a06333;
    border: 1px solid #68a063;
    /*box-shadow: 1px 0px 20px 0px #68a06382;*/
  }
  .laravel-li{
    background: #a41b396d;
    border: 1px solid #f04469;
  }
  .net-li{
    background: #5a1c7f5d;
    border: 1px solid #9d6ee3;
  }
  .java-li {
    background: #5382a153;
    border: 1px solid #5382a1;
   /* box-shadow: 1px 0px 20px 0px #5382a185;*/
  }
  
  .sql-li {
    background: #8b8b8b44;
    border: 1px solid #6b6b6b;
   /* box-shadow: 1px 0px 20px 0px #dbdbdb80;*/
  }
  
  .docker-li {
    background: #0db7ed3b;
    border: 1px solid #0db7ed;
   /* box-shadow: 1px 0px 20px 0px #0db7ed7c;*/
  }

  
  .html-icon {color: rgb(226, 116, 12);}
  .js-icon {color: rgb(236, 236, 54); }
  .react-icon{color: #3498db;}
  .node-icon{color: green;}
  .angular-icon{color: rgb(231, 55, 55);}
  .java-icon{color: rgb(145, 145, 248);}
  .database-icon{color: rgb(94, 94, 94);}
  .docker-icon{color: rgb(46, 46, 236);}



  .circle{
  width: 100px;
  height: 100px;
  background: rgb(3, 1, 130); 
  position: absolute;
  z-index: -1; 
  border-radius: 50%;
  animation: moveAround 3s ease-in-out infinite alternate;
  }
  @keyframes moveAround {
    0% {
      transform: translate(0, 0) scale(1);
    }
    50% {
      transform: translate(10px, -10px) scale(1.2);
    }
    100% {
      transform: translate(-10px, 40px) scale(1);
    }
  }
  /*fin icons color*/
  .experience-wrapper {
    position: relative;
    z-index: 0; /* crea contexto de stacking */
    overflow: hidden; /* para que el círculo no sobresalga */
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  .experience-content{
    position: relative;
    background-color: #090c363d; /* Fondo semi-transparente */
    backdrop-filter: blur(20px);  /* Aplica el blur */
    z-index: 2;
    width: 100%;
    max-width: 37em;
    border-radius: 10px;
    height: 100%;
    
  }
  
  .Experience-contenten{
    display: flex;
   font-size: 12px;
   gap: 10px;
    color: white;
    flex-wrap: wrap;
    padding: 0 20px 20px 20px;
    max-width: 50em;
  }
  .tittle-company{
    display: flex;
    align-items: center;
    gap: 10px;
    
  
  }
  
   .tittle-company .icono{
    padding: 4px 6px;
    border-radius: 20px;
    background: #296690a6;
    color: #99ccef;
    box-shadow: 0px 0px 7px 0px;
    border: 1px solid #8ec9f1ba;
    font-size: 10px;
    
   }
  .title-experience{
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    color: #99ccef;
    font-size: 14px;
    transition: all 0.2s ease-in;
   &:hover{
    color: #557289;
   }
  }
  .proyect-contenten{
    display: flex;
   
    gap: 20px;
    padding: 0px 20px 20px 20px;
    /*margin-bottom: 20px;*/
  }
  .proyect-contenten .icono{
    padding: 6px 8px;
    border-radius: 20px;
    background: #296690a6;
    color: #99ccef;
    height: fit-content;
    box-shadow: 0px 0px 7px 0px;
    border: 1px solid #8ec9f1ba;
    font-size: 10px;
    transition: all 0.3s ;
  }
  .proyect-contenten .carrot:hover{
    color: #ebbea4;
    border: 1px solid #ebcba4;
    background-color: #8b5730;
    scale: 1.2;
  }
  .proyect-contenten .palette:hover{
    color: #afa4eb;
    border: 1px solid #afa4eb;
    scale: 1.2;
    background-color: #3d308b;
  }

  .proyect-contenten .cine:hover{
    color: #a4eba4;
    border: 1px solid #a4ebb3;
    scale: 1.2;
    background-color: #236b1d;
  }

  .tecnologis-content{
    width: 100%;
    max-width: 37em;
    padding: 10px 16px; 
    box-sizing: border-box;
  }
  .tittle-company-1{
    color: white;
    font-size: 12px;
    width: 100%;
  }

  #carouselExample, #carouselfirst, #carouselExpo {
    width: 100%;
    max-width: 215px;
    height: 120px;
}
  
  
  #carouselExample .carousel-inner,
  #carouselExample .carousel-item,
  #carouselExample img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Esto hace que la imagen se recorte para llenar el contenedor */
  }

  #carouselfirst .carousel-inner,
  #carouselfirst .carousel-item,
  #carouselfirst img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Esto hace que la imagen se recorte para llenar el contenedor */
  }

  #carouselExpo .carousel-inner,
  #carouselExpo .carousel-item,
  #carouselExpo img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Esto hace que la imagen se recorte para llenar el contenedor */
  }

  .carousel-control-prev-icon, .carousel-control-next-icon{
    height: 20px !important;
  }

  .experience-content .school{
    background-color: #010714;
  }
  .studyCard-collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: rgb(255, 255, 255);
    gap: 20px;
 
    padding: 10px;
  }
  .study-card{
    background: #4e5a9052;
    max-width: 200px;
    width: 100%;
    border: 1px solid #3d308b;
    padding: 10px 15px;
    box-shadow: 4px 3px 0px 0px #ffffff, -5px -4px 0px 0px #1e1d1d;
    border-radius: 10px 0px 10px 0;
    font-size: 12px;
    transition: all 0.3s ease-in-out;
  }
  .study-card:hover{
    box-shadow: none;
    border: 1px solid #a395f3;
    background: #4e5a9099;
  }
  .study-card h4{
    font-size: clamp(0.7rem, 9vw, 1.2rem);
  }
  
  .institution, .years{
    font-weight: 500;
    color: #b9e2fc;
  }
  footer{
    background: linear-gradient(130deg, #ad90c1 0%, rgb(3, 0, 84) 100%), linear-gradient(130deg, #09007b 0%, rgba(15, 0, 66, 0) 30%), linear-gradient(129.96deg, rgb(255, 47, 47) 10.43%, rgb(0, 4, 96) 92.78%), radial-gradient(100% 246.94% at 100% 0%, rgb(255, 255, 255) 0%, rgba(37, 0, 66, 0.8) 100%), linear-gradient(121.18deg, rgb(20, 0, 255) 0.45%, rgb(27, 0, 62) 100%), linear-gradient(154.03deg, rgb(206, 0, 0) 0%, rgb(255, 0, 61) 74.04%), linear-gradient(341.1deg, rgb(178, 91, 186) 7.52%, rgb(16, 0, 119) 77.98%), linear-gradient(222.34deg, rgb(169, 0, 0) 12.99%, rgb(0, 255, 224) 87.21%), linear-gradient(150.76deg, rgb(183, 213, 0) 15.35%, rgb(34, 0, 170) 89.57%);
    background-blend-mode: overlay, normal, overlay, color-burn, screen, overlay, difference, difference, normal;
  }
  .background-end{
      display: flex;
      width: 100%;
      justify-content: center;
     
  }
  .background-end::after {
    content: "";
    position: absolute;
    border-radius: 10px;
    width: 80%;
    max-width:37em;
    border-bottom: 2px solid white;
    box-shadow: 0 0 8px white, 0 0 16px white; /* efecto neón */
}
  .footer-tittle{
    font-size: 20px;
    color: #b2deff;
    width: max-content; 
    border-bottom-style: double;
  }
  .Me{
    position: relative;
    width: 100%;
    max-width: 50em;
    color: white;
    font-size: 12px;
    padding: 30px 15px;
  }
  .extra{
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .text_me{
    width: 72%;
    font-size: 14px;
  }
   .me-content{
    display: flex;
  }
  .me-img {
    position: absolute; 
    width: 20%;
    max-width: 7rem;
    min-width: 7rem;
    right: 20px;
    top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .yo-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: 2;
  }
  .shadow-circle {
    width: 90%;
    padding-top: 17%;
    background-color: #0000006e;
    border-radius: 50%;
    margin-top: -1.2rem;
    z-index: 1;
  }
  .footer-last{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: #010714ab;
    color: white;
  }
  .social-media{
    display: flex;
    justify-content: flex-start;
   
    gap: 14px;
    font-size: 20px;
  }
  .social-media a{
    font-size: 12px !important;
  }

@media (max-width: 872px) {

    .nav-links {
        display: none;
    }
    .toggle-bottom {
        display: block;
        cursor: pointer;
    }
    .languageSwitcher{
      font-size: 12px;
      
      padding: 13px 0.7rem;
    }
    

}
@media (max-width: 800px) {
    .dropdown {
        position: absolute;
        width: 100%;
        right: 0;
        padding: 0;
    }
    .presentation::after{
      width: 100%;
    }
    .presentation .cardd{
      flex-direction: column;
      height: auto;
    }
    .card-inf{
      width: 90%;
    }
    .img-conten{
      width: 100px;
      height: 100px;
    }
    .tecnologis-content {
      width: 100%;
      padding: 10px 16px; 
      box-sizing: border-box;
    }
    .tittle-company{
      width: 95%;
    }
    .proyect-contenten {
      flex-direction: column;
    }
    .Experience-contenten, .proyect-contenten {
      padding: 0 10px 20px 10px;
    }
    .proyect-contenten .icono{
      display: none;
    }
    .title-experience{
      font-size: 12px;
    }
    .phone-text{
      font-size: 11px;
    }
    #carouselExample, #carouselfirst, #carouselExpo{
      width: auto;
      max-width: fit-content;
      height: 29vw;
    }
    .studyCard-collection{
      grid-template-columns: repeat(2, 1fr);
    }
    .study-card{
      font-size: 10px;
    }
    #description{
      font-size: 10px;
    }
    #section_technologies{
      padding: 0;
    }
    .extra{
      flex-direction: column;
     }
    
}
@media (max-width: 500px){
  .studyCard-collection{
    grid-template-columns: repeat(1, 1fr);
  }
  .experience-wrapper{
    width: 100%;
  }
  .phone-text{
    font-size: 10px;
  }
  .me-content{
    flex-direction: column;
    align-items: center;
  }
  .text_me{
    width: 100%;
  }
  .me-img{
  position: relative;
  }
   
}